In [1]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "vgchartz-2024.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "siddharth0935/video-game-sales",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

/tmp/ipykernel_13/4094406516.py:10: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  df = kagglehub.load_dataset(

First 5 records:                                              img                        title  \
0  /games/boxart/full_6510540AmericaFrontccc.jpg           Grand Theft Auto V
1  /games/boxart/full_5563178AmericaFrontccc.jpg           Grand Theft Auto V
2                    /games/boxart/827563ccc.jpg  Grand Theft Auto: Vice City
3  /games/boxart/full_9218923AmericaFrontccc.jpg           Grand Theft Auto V
4  /games/boxart/full_4990510AmericaFrontccc.jpg    Call of Duty: Black Ops 3

  console    genre       publisher       developer  critic_score  total_sales  \
0     PS3   Action  Rockstar Games  Rockstar North           9.4        20.32
1     PS4   Action  Rockstar Games  Rockstar North           9.7        19.39
2     PS2   Action  Rockstar Games  Rockstar North           9.6        16.15
3    X360   Action  Rockstar Games  Rockstar North           NaN        15.86
4     PS4  Shooter      Activision        Treyarch           8.1        15.09

   na_sales  jp_sales  pal_sales  other_sales release_date last_update
0      6.37      0.99       9.85         3.12   2013-09-17         NaN
1      6.06      0.60       9.71         3.02   2014-11-18  2018-01-03
2      8.41      0.47       5.49         1.78   2002-10-28         NaN
3      9.06      0.06       5.33         1.42   2013-09-17         NaN
4      6.18      0.41       6.05         2.44   2015-11-06  2018-01-14

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [2]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "vg_data_dictionary.csv"

# Load the latest version
det = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "siddharth0935/video-game-sales",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

/tmp/ipykernel_13/350160268.py:10: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  det = kagglehub.load_dataset(

First 5 records:                                              img                        title  \
0  /games/boxart/full_6510540AmericaFrontccc.jpg           Grand Theft Auto V
1  /games/boxart/full_5563178AmericaFrontccc.jpg           Grand Theft Auto V
2                    /games/boxart/827563ccc.jpg  Grand Theft Auto: Vice City
3  /games/boxart/full_9218923AmericaFrontccc.jpg           Grand Theft Auto V
4  /games/boxart/full_4990510AmericaFrontccc.jpg    Call of Duty: Black Ops 3

  console    genre       publisher       developer  critic_score  total_sales  \
0     PS3   Action  Rockstar Games  Rockstar North           9.4        20.32
1     PS4   Action  Rockstar Games  Rockstar North           9.7        19.39
2     PS2   Action  Rockstar Games  Rockstar North           9.6        16.15
3    X360   Action  Rockstar Games  Rockstar North           NaN        15.86
4     PS4  Shooter      Activision        Treyarch           8.1        15.09

   na_sales  jp_sales  pal_sales  other_sales release_date last_update
0      6.37      0.99       9.85         3.12   2013-09-17         NaN
1      6.06      0.60       9.71         3.02   2014-11-18  2018-01-03
2      8.41      0.47       5.49         1.78   2002-10-28         NaN
3      9.06      0.06       5.33         1.42   2013-09-17         NaN
4      6.18      0.41       6.05         2.44   2015-11-06  2018-01-14

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [3]:
# Generating year column from data set and drop Null Values 
import pandas as pd 
df =  pd.DataFrame(df)
df =  df.dropna()
df['release_date'] =  pd.to_datetime(df['release_date'])
import datetime as dt 
df['year'] =  df['release_date'].dt.year

# Which year had the highest sales? Has the industry grown over time?

In [4]:
import plotly.express  as px

highyeargraph =  px.bar(data_frame=df , x='year',y='total_sales')
highyeargraph.show(renderer='iframe_connected')
df.groupby(['year']).agg({'total_sales':'sum'}).reset_index().sort_values(by='total_sales',ascending=False)

# we can say highest sales at 2014 then 2015 , lets checknext with timeline to see the industry growth

    year  total_sales
12  2014        90.56
13  2015        77.49
11  2013        70.90
14  2016        66.84
10  2012        59.93
15  2017        55.07
16  2018        42.98
9   2011        24.28
8   2010        12.22
6   2008        10.48
7   2009         9.09
1   2001         3.78
0   1999         1.63
2   2003         1.60
5   2007         0.95
4   2006         0.39
3   2004         0.32

In [5]:
salestrendgrapgh =  px.area(data_frame=df , x='year',y='total_sales')
salestrendgrapgh.show(renderer='iframe_connected')
# can see the growth is not as we expected in sales

# Do any consoles seem to specialize in a particular genre?

In [6]:
# lets check count of games for all consoles per genre after dropping duplicates 
cleardf  =  df.drop_duplicates()

In [7]:
specgraph =  px.histogram(data_frame=cleardf,y='console',color='genre',orientation='h',height=400)
specgraph.show(renderer='iframe_connected')
# as below plot 3ds comes in the first place with role_playing games , then ps4 comes with shooter games , check below table for more info
cleardf.groupby(['console','genre']).agg({'genre':'count'}).rename(columns={'genre':'count'}).reset_index().sort_values(by='count',ascending=False)

   console             genre  count
8      3DS      Role-Playing     17
52     PS4           Shooter     15
45     PS4  Action-Adventure     12
79    X360           Shooter     10
51     PS4      Role-Playing      9
..     ...               ...    ...
46     PS4         Adventure      1
31     PS2          Strategy      1
66    WiiU            Racing      1
24      NS        Simulation      1
34     PS3         Adventure      1

[88 rows x 3 columns]

# What titles are popular in one region but flop in another?

In [8]:
# we create 3 data frames to compare every area sales with other areas 
combine_df =  df.groupby(['title']).agg({'na_sales':'sum','jp_sales':'sum','pal_sales':'sum'}).reset_index()
pop_in_na =  combine_df.loc[    (combine_df['na_sales']>combine_df['jp_sales'])  & (combine_df['na_sales']>combine_df['pal_sales'])        ]
pop_in_japan  = combine_df.loc[    (combine_df['jp_sales']>combine_df['na_sales'])  & (combine_df['jp_sales']>combine_df['pal_sales'])        ]
pop_in_Pal =  combine_df.loc[    (combine_df['pal_sales']>combine_df['na_sales'])  & (combine_df['pal_sales']>combine_df['jp_sales'])        ]

In [9]:
# now we can grapgh 
graphlist =  [pop_in_na,pop_in_japan,pop_in_Pal]
graphlist =  {'Poploar In North America ':pop_in_na,'Popular In Japan':pop_in_japan,'Poplular In Pal ':pop_in_Pal}
for name,g in graphlist.items():
    graph =  px.histogram(data_frame=g,y='title',title=name)
    graph.show(renderer='iframe_connected')